<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <arg name="model" default="$(find arm_sample_pkg)/urdf/box.urdf"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <param name="robot_description" textfile="$(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>

  <param name="robot_description" type="str" textfile="$(find arm_sample_pkg)/urdf/box.urdf"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_description"/>
</launch>